{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                    <form method="GET" action="{% url 'filter' %}">
                        {% csrf_token %}
                            <div class="text-center">
                                <button class="btn btn-success mx-auto" type="submit" ><h2>Cauta proprietatea perfecta pentru tine!</h2></button>
                            </div>
                    </form>
            </div>
        </div>
        <br>
        <br>
        <H3>Proprietati Top Listed</H3>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% for anunt in 4_tl%}
                    <div class="col-md-1 offset-md-2">
                        <br>
                        <div class="card" style="width: 18rem;">
                            {% if anunt.poze %}
                                <img src="{{ anunt.poze.url }}" class="card-img-top" alt="...">
                            {% else %}
                                <img src="{% static 'images/no_image_available.png' %}" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ anunt.titul_anunt }}</h5>
                                <p class="card-text">Suprafata utila: {{ anunt.suprafata_utila }} mp</p>
                                <p class="card-text">Pret: {{ anunt.pret }} euro</p>
                                <p class="card-text">Localitatea: {{ anunt.localizare }}</p>
                                <p class="card-text">Descriere: {{ anunt.descriere }}</p>
                                <p class="card-text">Metoda Achizitie: {{ anunt.tip_vanzare }}</p>
                                <a href="{% url 'post' anunt.id %}" class="btn btn-primary">Detalii</a>
                                <a href="{% url 'delete' anunt.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"> Evalueaza proprietatea ta </h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h2 class="text-center">In curand</h2>
                        </div>
                    </form>
                    <div class="card-footer text-center">
                        <button class="btn btn-success" type="submit">Evalueaza</button>
                    </div>
                </div>
            </div>
        </div>
            <table class="table table-hover"></table>
            <table class="table table-hover"></table>
            <table class="table table-hover"></table>
{% endblock %}