{% extends 'base.html' %}
{% load static %}

{% block title %} Agentii Imobiliare - Inchirieri {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agentii-imobiliare' %}">Agentii Imobiliare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'sell-AI' %}">Vanzari</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'rent-AI' %}">Inchirieri</a>
                </li>
            </ul>
            {% for anunt in all_announce %}
                <div class="col-md-3 ">
                    <br><br>
                    <div class="card" style="width: 18rem;">
                        {% if anunt.poze %}
                            <img src="{{ anunt.poze.url }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{% static 'images/no_image_available.png' %}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ anunt.titul_anunt }}</h5>
                            <p class="card-text">{{ anunt.pret }}</p>
                            <p class="card-text">{{ anunt.localizare }}</p>
                            <p class="card-text">{{ anunt.tip_vanzare }}</p>
                            <p class="card-text">{{ anunt.descriere }}</p>
                            <p class="card-text">{{ anunt.tip_vanzare }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}