{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.titul_anunt }} {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <br>
        <div class="container">
            <div class="box1">
                <h5>{{ post.titul_anunt }}</h5>
            </div>
            <div class="box2">
                <h5>{{ post.pret }} EURO</h5>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                <br><br>
                {% if post.poze %}
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ post.poze.url }}" class="d-block w-60" alt="...">
                            </div>
                        </div>
                {% else %}
                    <img src="{% static 'images/no_image_available.png' %}" class="card-img-top" alt="...">
                {% endif %}
                    <br><br>
                    <div class="card-body">
                        <h5>Descriere</h5>
                        <p class="card-text">{{ post.descriere }}</p>
                    </div>
                <br><br>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <td>Nr. carte funciara: {{ post.numar_carte_funciara }}</td>
                                <td>Suprafata utila: {{ post.suprafata_utila }} mp</td>
                            </tr>
                            <tr>
                                <td>Numar camere: {{ post.numar_camere }}</td>
                                <td>Numar bai: {{ post.numar_bai }}</td>
                            </tr>
                        </table>
                    </div>
                <br>

                </div>
            </div>
        </div>
    {% else %}
        <br>
        <p class="text-center"><a href="{% url 'login' %}"> Intra in cont pentru a vedea anuntul </a></p>
    {% endif %}
<br><br>
{% endblock %}